<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>ESS</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        padding-top: 50px;
    }
    
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    .questions {
        text-align: left;
        display: inline-block;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ESS - CES30</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/gabrielilharco/ess">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1>European Social Survey</h1>
            <p>
                Django web application for management, visualization and data analysis of the European Social Survey data collected on 2014.
                On this application we selected a few questions included on ESS theme "Subjective well-being, social exclusion, religion, national and ethnic identity". They are described below:
            </p>
            <div class="well" style="display:inline-block;">
            <h4>The selected questions for analysis are:</h4>
            <div class="container">
                <ol class="questions">
                    <li>How happy are you</li>
                    <li>How often socially meet with friends, relatives or colleagues</li>
                    <li>How many people with whom you can discuss intimate and personal matters</li>
                    <li>Take part in social activities compared to others of same age</li>
                    <li>Respondent or household member victim of burglary/assault last 5 years</li>
                    <li>Feeling of safety of walking alone in local area after dark</li>
                    <li>Subjective general health</li>
                    <li>Hampered in daily activities by illness/disability/infirmity/mental problem</li>
                    <li>Member of a group discriminated against in this country</li>
                    <li>Belong to minority ethnic group in country</li>
                </ol>
            </div>
            </div>
            <br>
            <button class="btn btn-lg btn-default" onclick="location.href='/'; return false;">Index
                <span class="glyphicon glyphicon-home"></span></button>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
