<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>ESS</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        padding-top: 50px;
    }
    
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }

    #preloader {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: visible;
        opacity: 0.8;
        background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
    }

    #chart-div {
        text-align: center;
        max-width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }

    #chart-div > div {
        text-align: center;
        display: inline-block;
    }

    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Set a callback to run when the Google Visualization API is loaded.
        {% if analysis.success %}
        {% if analysis.type == 'piechart' %}
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);
        {% endif %}
        {% if analysis.type == 'treemap' %}
        google.charts.load('current', {'packages':['treemap']});
        google.charts.setOnLoadCallback(drawTreeMap);
        {% endif %}
        {% endif %}
        {% if analysis.error %}

        {% endif %}
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawPieChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Answer');
            data.addColumn('number', 'Frequency');

            var commaFlag = false;
            {% for row in analysis.frequency %}
            data.addRows([
                {{ row|safe }}
            ]);
            {% endfor %}
            
            // Set chart options
            var options = {'title': 
                            {% for q, val in data.items %}
                                {% if q == analysis.question %} '{{ val.question }}' {% endif %}
                            {% endfor %},
                           'width':500,
                           'height':400};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart-div'));
            chart.draw(data, options);
        }

        function drawTreeMap() {
            var data = google.visualization.arrayToDataTable([
              ['Information', 'Parent', 'Number of occurrences'],
              ['Global', null, 0]           
              {% for row in analysis.frequency %}
                  ,{{ row|safe }}
              {% endfor %}
            ]);

            tree = new google.visualization.TreeMap(document.getElementById('chart-div'));
            
            var options = {
                highlightOnMouseOver: true,
                minHighlightColor: '#8c6bb1',
                midHighlightColor: '#9ebcda',
                maxHighlightColor: '#edf8fb',
                minColor: '#009688',
                midColor: '#f7f7f7',
                maxColor: '#ee8100',
                headerHeight: 15,
                showScale: true,
                height: 500,
                useWeightedAverageForAggregation: true,
                generateTooltip: showFullTooltip
            };
            tree.draw(data, options);

            function showFullTooltip(row, size, value) {
                return '<div style="background:#fd9; padding:10px; border-style:solid">' +
                '<span style="font-family:Courier"><b>' + data.getValue(row, 0)  +
                '</b></span><br>' +
                'Total Occurrences: ' + size + '<br>' + ' </div>';
            }
        }
    </script>
</head>

<body>
    <div id="preloader"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ESS - CES30</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1>Analyse Database</h1>
            <p>Here you can visualize custom charts about database.</p>
            <form class="form" action="/analyse/" method="post">
                {% csrf_token %}
                <label style="margin-top: 30px;" for="question">Select question you want to analyse:</label>
                <select class="form-control" name="question" style="max-width: 500px; margin: auto; margin-top:20px; margin-bottom: 30px;">
                    {% for q, val in data.items %}
                    <option value = {{ q }}
                        {% if p %}
                            {% ifequal q question %}
                                selected
                            {% endifequal%}
                        {% endif %}
                    >{{ val.question }}</option>
                    {% endfor %}
                </select>

                <label for="sel2">Select type of analysis:</label>
                <select class="form-control" name="type" style="max-width: 500px; margin: auto; margin-top:20px;">
                    <option value ="piechart" >Pie Chart</option>
                    <option value = "treemap"{% if treemap %}selected{% endif%}>Tree Map</option>
                </select>
                <button id="load" class="btn btn-lg btn-warning" style="margin-top:30px" type="submit">Make query
                    <span class="glyphicon glyphicon-refresh"></span></button>
            </form>

            <button class="btn btn-lg btn-default" onclick="location.href='/'; return false;">Index
                <span class="glyphicon glyphicon-home"></span></button>
        </div>
    </div>
    <div id="chart-div"></div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#preloader').fadeOut('slow');
    });
    $("#load").click(function() {
        $('#preloader').fadeIn('fast');
    });
    </script>
</body>

</html>
