<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>ESS</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        padding-top: 50px;
    }
    
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ESS - CES30</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1>European Social Survey</h1>
            <p class="lead">
                The European Social Survey (ESS) is an academically driven cross-national survey that has been conducted across Europe since 2001. Every two years, face-to-face interviews are conducted with newly selected, cross-sectional samples.</p>
            <p>
                In 2005 the ESS was the winner of the Descartes Prize for Research & Science Communication. Following an application to the European Commission which was submitted by the UK on behalf of 14 other countries, the ESS was awarded European Research Infrastructure Consortium (ERIC) status on 30th November 2013.
            </p>
            <p>
                The Director of the ESS ERIC is Dr. Rory Fitzgerald and the ESS ERIC Headquarters are located at City, University of London.
            </p>
            <br>
            <div class="row">
                <button class="btn btn-lg btn-default" onclick="location.href='/manage/'; return false;">Manage
                    <span class="glyphicon glyphicon-cog"></span></button>
                <button class="btn btn-lg btn-primary" onclick="location.href='/analyse/'; return false;">Analyse
                    <span class="glyphicon glyphicon-search"></span></button>
                <button class="btn btn-lg btn-info" onclick="location.href='/predict/'; return false;">Predict
                    <span class="glyphicon glyphicon-search"></span></button>
            </div>
            <br>
            <h4>Links</h4>
            <div>
                <a href="http://www.europeansocialsurvey.org/">ESS Index</a>
                <br>
                <a href="http://nesstar.ess.nsd.uib.no/webview/">ESS WebView</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
