<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>ESS</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        padding-top: 50px;
    }
    
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }

    #preloader {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: visible;
        opacity: 0.8;
        background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
    }
    #cm-container {
        min-width: 300px;
        max-width: 800px;
        height: 400px;
        margin: 1em auto;
        margin-bottom: 50px;
    }
    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div id="preloader"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ESS - CES30</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1>Data Mining models analysis</h1><br>
            <p>Here you can visualize the predictions results for different classification algorithms using the database.</p>
            <p>The algorithms are trained with 80% of the data and tested with the remaining 20%</p>
            <form class="form" action="/predict/" method="post">
                {% csrf_token %}
                <label style="margin-top: 20px;" for="question">Select question you want to analyse:</label>
                <select class="form-control" name="question" style="max-width: 500px; margin: auto; margin-top:20px; margin-bottom: 30px;">
                    {% for q, val in data.items %}
                    <option value = {{ q }}
                        {% if printcm %}
                            {% ifequal question q %}
                                selected
                            {% endifequal%}
                        {% endif %}
                    >{{ val.question }}</option>
                    {% endfor %}
                </select>
                <label for="algorithm" >Select the data mining algorithm:</label>
                <select class="form-control" name="algorithm" style="max-width: 500px; margin: auto; margin-top:20px;">
                    {% for id, name in algorithms.items %}
                    <option value = {{ id }}
                        {% if printcm %}
                            {% ifequal id algorithm %}
                                selected
                            {% endifequal%}
                        {% endif %}
                    >{{ name }}</option>
                    {% endfor %}
                </select>
                <button id="load" class="btn btn-lg btn-warning" style="margin-top:30px" type="submit">Predict
                    <span class="glyphicon glyphicon-refresh"></span></button>
            </form>

            {% if printcm %}
            <br><h3>Accuracy:<b> {{acc}}</b></h3>
            {% endif %}
        </div>
    </div>
    <div id="cm-container"></div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/heatmap.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    $(document).ready(function() {
        $('#preloader').fadeOut('slow');
    });
    $("#load").click(function() {
        $('#preloader').fadeIn('fast');
    });
    </script>
    {% if printcm %}
    <script>
        $(function () {
            $('#cm-container').highcharts({
                chart: {
                    type: 'heatmap',
                    marginTop: 40,
                    marginBottom: 40
                },
                title: {
                    text: 'Confusion Matrix'
                },
                xAxis: {
                    categories: {{categories}},
                    title: {
                        text: 'True value',
                        align: 'middle'
                    }
                },
                yAxis: {
                    categories: {{categories}},
                    title: {
                        text: 'Predicted value',
                        align: 'middle'
                    }
                },
                colorAxis: {
                    min: 0,
                    minColor: '#FFFFFF',
                    maxColor: Highcharts.getOptions().colors[0]
                },
                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 320
                },
                tooltip: {
                    formatter: function () {
                        return 'True value: ' +
                             this.series.xAxis.categories[this.point.x] + '<br>' + 
                             'Predicted: ' + this.series.yAxis.categories[this.point.y];
                    }
                },
                series: [{
                    name: 'Sales per employee',
                    borderWidth: 1,
                    data: {{ formatted_cm }},
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        style: {
                            textShadow: 'none'
                        }
                    }
                }]
            });
        });
    </script>
    {% endif %}
</body>

</html>
